.MainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #051e05;
}

/* HEADER STYLES */

.Header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #00bb0c;
}

.TitleContainer {
  background-color: #051e05;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 10%;
}

.Title {
  color: #051e05;
  font-size: 2.5rem;
  font-family: fantasy;
  font-weight: bolder;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 10%;
}

.CounterContainer {
  background-color: #051e05;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 10%;
}

.Counter {
  color: #051e05;
  font-size: 2.5rem;
  font-family: fantasy;
  font-weight: bolder;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 10%;
}

@keyframes KorsSpin {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

.KorSvg {
  position: absolute;
  right: 10%;
  top: 60%;
  animation-name: KorsSpin;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.KorSVG2 {
  position: absolute;
  right: 11.15%;
  top: 63.25%;
  animation-name: KorsSpin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.KorSVG3 {
  position: absolute;
  right: 11.65%;
  top: 64.5%;
  animation-name: KorsSpin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes KorsBlurShimmer {
  0% {
    transform: translate(0, 0);
  }
  35% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.KorSVGBlur {
  filter: blur(7px);
  animation-name: KorsBlurShimmer;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.KorSVGBlur2 {
  filter: blur(3px);
  animation-name: KorsBlurShimmer;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* HEADER STYLES */
/* MAIN BODY STYLES */

.MainBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
}

.Clickers {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  /* background-color: rgb(38, 98, 151); */
}

.ClickerHeaderContainer {
  background-color: #00bb0c;
  padding: 1%;
  width: fit-content;
  margin-bottom: 1%;
}

.ClickerHeader {
  color: #051e05;
  font-size: 1.5rem;
  font-family: fantasy;
  text-align: center;
}

.Clicker {
  padding: 1%;
  border: aquamarine 3px dashed;
  background-color: rgb(176, 251, 226);
  user-select: none;
  color: #051e05;
  font-size: 1rem;
  font-family: fantasy;
  cursor: pointer;
  border-radius: 25px;
  &:hover {
    background-color: rgb(75, 207, 163);
  }
}

.ProgressionContainer {
  width: 35%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.ProgressionHeaderContainer {
  /*background-color: #00bb0c;*/
  width: 100%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ProgressionHeader {
  color: #051e05;
  font-size: 1.5rem;
  font-family: fantasy;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: #00bb0c;
  padding: 1%;
  &.Selected {
    background-color: #126512;
  }
}

.ProgressionList {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 143, 12);
}

.ProgressionNodeListingOuter {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: aquamarine 3px dashed;
  background-color: rgb(176, 251, 226);
  border-radius: 25px;
  &:hover {
    background-color: rgb(75, 207, 163);
  }
}

.ProgressionNodeListingInner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: aquamarine 3px dashed;
  background-color: rgb(176, 251, 226);
  cursor: pointer;
  user-select: none;
  border-radius: 25px;
  &:hover {
    background-color: rgb(75, 207, 163);
  }
}

.ProgressionNodeListingName {
  color: #051e05;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
}

.ProgressionNodeListingDescription {
  color: #051e05;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
}

/* MAIN BODY STYLES */
